<template>
  <div id="app">
    <ul>
      <li v-for="state in states" :key="state.$index">{{ state }}</li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'App',
  data() {
    return {
      states: []
    }
  },
  methods: {
    listState() {
      axios.get('https://servicodados.ibge.gov.br/api/v1/localidades/estados')
        .then(({ data }) => {
          this.states = data.map(d => d.nome)
        })
    }
  },
  created() {
    this.listState()
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
